<div fxFlex fxLayout="row" fxLayoutAlign="center">
    <div class="container" fxFlex="100" fxFlex.gt-sm="80" fxFlex.gt-md="70">
        <app-search-box (textChange)="searchText = $event"></app-search-box>
        <md-list>
            <md-list-item disableRipple>
                <p fxFlex="30" fxFlex.xs="50">Name</p>
                <p fxFlex="30" fxHide.xs>Email</p>
                <p fxFlex="30" fxFlex.xs="50">Group</p>
                <p class="lock" fxFlex="10" fxHide.xs>Account Locked</p>
            </md-list-item>
        </md-list>
        <md-nav-list>
            <md-divider></md-divider>
            <md-progress-bar *ngIf="loadingUsers" color="accent" mode="indeterminate"></md-progress-bar>
            <h3 md-subheader>Click on a user to see or edit their profile (editing requires special permissions).</h3>
            <md-list-item disableRipple *ngFor="let user of users
                                                | SearchUsers: searchText
                                                | paginate: { itemsPerPage: 15, currentPage: p }"
                                                (click)="gotoUserProfile(user)">
                <div fxFlex="30" fxFlex.xs="50">
                    <md-icon>person</md-icon>
                    {{user.cn}}
                </div>
                <div fxFlex="30" fxHide.xs class="email-field">{{user.mail}}</div>
                <div class="column" fxFlex="30" fxFlex.xs="50" appStopClick>
                    <ul class="group-list">
                        <li *ngFor="let group of user.groups">
                            {{group}}
                            <button md-icon-button [disabled]="preventUpdates" (click)="removeFromGroup(user,group)">
                                <md-icon color="warn">close</md-icon>
                            </button>
                        </li>
                        <li *ngIf="!loadingGroups && !preventUpdates">
                            <app-autocomplete [list]="groups" (textChange)="addToGroup(user,$event)"></app-autocomplete>
                        </li>
                    </ul>
                </div>
                <md-icon class="lock" fxFlex="10" fxHide.xs *ngIf="user.nsAccountLock.toUpperCase() === 'TRUE'">lock</md-icon>
            </md-list-item>
        </md-nav-list>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</div>
