.create-tabs form {
    position: relative;
    height: 400px;
}

.queue-user-fab {
    position: absolute;
    bottom: 190px;
    right: -52px;
    z-index: 5;
}

.half-width {
    width: 49%;
}

.full-width {
    width: 100%;
}

.not-saved {
    background-color: #FFEB3B !important;
}

@media only screen and (max-width: 960px) {
    .queue-user-fab {
        bottom: -42px;
        right: 16px;
        transform: rotate(90deg);
    }
}

.queue-user-list {
    background: #f6f6f6;
    min-height: 256px;
}

.queue-user-list .md-subheader{
    background: #f6f6f6;
}

.user-queue-item p {
    overflow: hidden;
    text-overflow: ellipsis;
}

.queue {
    height: 336px;
    max-height: 336px;
    overflow-y: auto;
}

.padded-block {
    padding: 32px;
}

.register-buttons {
    margin-top: 32px;
}
