<md-sidenav-container fxLayout="row" fxFlexFill>
    <button md-icon-button class="menu-button" fxHide.gt-sm (click)="sidenav.open()">
        <md-icon>menu</md-icon>
    </button>
    <md-sidenav class="sidenav" #sidenav mode="side" opened="true">
        <md-toolbar color="accent">
            <h2>Site Administration</h2>
        </md-toolbar>
        <md-divider></md-divider>
        <ul class="admin-menu">
            <li [ngClass]="{ 'active-tab': activeTab==='logs' }">
                <button md-button class="sidenav-button" (click)="activeTab='logs'">Logs</button>
            </li>
            <li [ngClass]="{ 'active-tab': activeTab==='admins' }">
                <button md-button class="sidenav-button" (click)="activeTab='admins'">Admin Accounts</button>
            </li>
            <li [ngClass]="{ 'active-tab': activeTab==='manage' }">
                <button md-button class="sidenav-button" (click)="activeTab='manage'">Manage Projects</button>
            </li>
            <li [ngClass]="{ 'active-tab': activeTab==='protected' }">
                <button md-button class="sidenav-button" (click)="activeTab='protected'">Protected Groups</button>
            </li>
            <li [ngClass]="{ 'active-tab': activeTab==='email' }">
                <button md-button class="sidenav-button" (click)="activeTab='email'">User Invite Email</button>
            </li>
            <li [ngClass]="{ 'active-tab': activeTab==='deleteUser' }">
                <button md-button class="sidenav-button"(click)="activeTab='deleteUser'">Delete User</button>
            </li>
        </ul>
    </md-sidenav>
    <div class="admin-panel" fxFlex>
        <div *ngIf="activeTab==='logs'">
            <app-log></app-log>
        </div>
        <div *ngIf="activeTab==='admins'">
            <app-admins-control [users]="users"></app-admins-control>
        </div>
        <div *ngIf="activeTab==='manage'">
            <app-projects></app-projects>
        </div>
        <div *ngIf="activeTab==='protected'">
            <app-protected-groups [groups]="groups"></app-protected-groups>
        </div>
        <div *ngIf="activeTab==='email'">
            <app-email-edit></app-email-edit>
        </div>
        <div *ngIf="activeTab==='deleteUser'">
            <app-delete-user></app-delete-user>
        </div>
    </div>
</md-sidenav-container>
