<h2>Site Administrators</h2>
<div>
    <md-list>
        <h4>Current Admins</h4>
        <md-list-item *ngFor="let admin of adminList">
            <md-icon>person</md-icon>
            <div class="md-list-item-text">
                <h3>{{admin.cn}}</h3>
                <p>{{admin.mail}}</p>
            </div>
            <md-icon (click)="removeAdmin(admin.uid)">close</md-icon>
        </md-list-item>
    </md-list>
    <md-divider></md-divider>
    <h3>Add new Admin</h3>
    <app-autocomplete [list]="users" [placeholder]="'Search and Add User'"></app-autocomplete>
    <div *ngIf="!selectedItem">
        No User Selected
    </div>
    <div *ngIf="selectedItem">
        <md-list>
            <md-list-item>
                <md-icon>person</md-icon>
                <div class="md-list-item-text">
                    <h3>{{selectedItem.cn}}</h3>
                    <p>{{selectedItem.mail}}</p>
                </div>
            </md-list-item>
        </md-list>
    </div>
    <button md-raised-button color="accent" class="add-admin-btn" (click)="addAdmin( selectedItem )">Add to admins</button>
</div>
