<nav>
    <md-toolbar color="primary">
        <a routerLink="users"><img class="navbar-logo" src="assets/images/roleman_logo_serif_white.png" fxHide.xs></a>
        <span fxFlex="1 1 auto"></span>
        <ul class="nav-list" fxLayout="row" fxLayoutAlign="center center">
            <a md-button
                *ngFor="let page of pages"
                class="nav-item"
                [ngClass]="{ 'active': isActive(page) }"
                [routerLink]="page.url"
                (click)="activePage = page">
                {{page.label}}
            </a>
            <div class="spacer"></div>
            <button md-button *ngIf="!auth.loggedIn" (click)="showLogin()">LOGIN</button>
            <a md-button class="nav-item" *ngIf="auth.loggedIn">
                {{auth.loggedInUser}}
            </a>
            <button *ngIf="auth.loggedIn" md-icon-button [mdMenuTriggerFor]="menu">
                <md-icon>more_vert</md-icon>
            </button>
            <md-menu #menu="mdMenu">
                <button md-menu-item *ngIf="auth.loggedInAdmin" (click)="gotoAdminPage()">Admin</button>
                <button md-menu-item (click)="logout()">Logout</button>
            </md-menu>
        </ul>
    </md-toolbar>
    <div class="shadow"></div>
</nav>
