<div fxLayout="row" fxLayoutGap="16px" fxFlexOffset="16px">
    <div fxFlex="40">
        <app-search-box (textChange)="searchGroupText = $event"></app-search-box>
        <div class="instructions" *ngIf="groups.length === 0 && !loadingGroups">
            You are not seeing any groups here because you are not an admin or a project lead.
            If you would like to edit the users of a group, please contact a site admin
            to be added as a project lead.
        </div>
        <md-spinner *ngIf="loadingGroups" class="groups-loader" color="warn"></md-spinner>
        <md-list class="groups-list">
            <md-list-item *ngFor="let group of groups | SearchGroups: searchGroupText | paginate: { itemsPerPage: 15, currentPage: p }">
                <md-card fxFlex fxLayout="row">
                    {{group.cn}}
                    <span fxFlex></span>
                    <button md-icon-button (click)="addGroup(group)" mdTooltip="Select" [disabled]="loadingUsers">
                        <md-icon>add</md-icon>
                    </button>
                </md-card>
            </md-list-item>
        </md-list>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
    <md-card fxFlex="60">
        <md-card-subtitle class="groups-subheader" [ngClass]="{'not-saved': dirty}">
            <span>Selected</span>
            <span class="right" *ngIf="dirty">Changes not saved</span>
        </md-card-subtitle>
        <app-autocomplete (textChange)="addEmployee($event)" [list]="users" [placeholder]="'Search and Add Users'"></app-autocomplete>
        <md-list class="groups-list">
            <md-list-item *ngFor="let group of selectedGroups; let i = index">
                <md-card fxFlex fxLayout="column">
                    <div fxLayout="row">
                        <h4>{{group.cn}}</h4>
                        <span fxFlex></span>
                        <button md-icon-button (click)="removeGroup(i)" mdTooltip="Remove" mdTooltipPosition="above">
                            <md-icon>remove</md-icon>
                        </button>
                    </div>
                    <div fxLayout="column">
                        <md-slide-toggle [(ngModel)]="showUsers">Show Users</md-slide-toggle>
                        <md-chip-list>
                            <div *ngIf="showUsers">
                                <md-chip *ngFor="let user of group.users" selectable="false">
                                    <strong>{{user.cn}}</strong>
                                    <em>({{user.uid}})</em>
                                    <button md-icon-button class="chips-btn" (click)="addToRemoveList(group, user)">
                                        <md-icon>close</md-icon>
                                    </button>
                                </md-chip>
                            </div>
                            <md-chip *ngFor="let user of selectedEmployees" color="green" selectable="false">
                                <strong>{{user.cn}}</strong>
                                <em>({{user.uid}})</em>
                                <button md-icon-button class="chips-btn" (click)="removeEmployee(user)">
                                    <md-icon>close</md-icon>
                                </button>
                            </md-chip>
                        </md-chip-list>
                    </div>
                </md-card>
            </md-list-item>
        </md-list>
        <button md-fab class="groups-update-btn" (click)="mapRoles()" [hidden]="!dirty" mdTooltip="Update Group(s)">
            <md-icon>save</md-icon>
        </button>
    </md-card>
</div>
